@font-face {
  font-family: OpenSans-Regular;
  src: url('/src/OpenSans/OpenSans-Regular.ttf'); 
}

.Registration form{   
    margin-left: auto; /* величина відступу від краю елементу */
    margin-right: auto;
    margin-top: 20px;
    width: 220px;
    height:330px;
    background-color: rgb(255, 255, 255); 
    padding: 10px 0px 0px 4px;  /*поля навкруг тексту*/

    border-radius: 15px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }

  .SingIn{
    margin-left: auto; /* величина відступу від краю елементу */
    margin-right: auto;
    margin-top: 20px;
    width: 220px;
    height:200px;
    background-color: rgb(255, 255, 255); 
    padding: 15px 0px 0px 10px;  /*поля навкруг тексту*/

    border-radius: 15px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold; 
  }
  
  input.Registration, .SingIn input, select {
    width: 195px;
    height: 20px;
    margin: 3px 0px 0px 10px;
    font-weight: bold;
   }
  
  label.Registration, .SingIn label{
    margin: 5px 2px 0px 5px;
  }
  
  .register_button , .singin_button {
    width: 149px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 15px auto 0px auto;
    text-align: center;
    cursor: pointer;
    clear: both;
  }

  a.sing-in{
    font-size: 14px;
  }